h1{
    border-bottom: 2px solid blue;
    font-size: 30px;
    text-align: center;
    color: blue;
}
div{
    width: 600px;
    margin: auto;
    
}
label{
    display: inline-block;
    width: 180px;
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
}
input{
    padding: 15px 5px;
    margin-left: 15px;
}