ul li {
    display:inline-block

}

#header1 {
width: 100%;
height: auto;  
}

div.navbar {
    text-align: center;
}

ul.navigation {

    display: inline-block;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: medium;

}